**/node_modules
**/npm-debug.log
**/src/public/assets/bai/*
**/src/public/assets/bam/*
**/src/public/assets/fa/*
**/src/public/assets/fai/*
**/src/public/assets/gz/*
**/src/public/assets/gff/*
**/src/public/assets/bgz/*
**/src/public/assets/csi/*
**/src/public/assets/tbi/*

# Ignore all .config.json files in the server directory
app/js/server/*.config.json

# But do not ignore server.config.json
!app/js/server/server.config.json
